// content - main section
$about-image-url: 'https://i.picsum.photos/id/1018/3914/2935.jpg?hmac=3N43cQcvTE8NItexePvXvYBrAoGbRssNMpuvuWlwMKg';

//mixins
@mixin content-text-format($color: $color-dark) {
  display: inline;
  font-size: $xxxl;
  font-weight: 900;
  color: $color;
}

.content-container {
  width: 100%;
  max-width: $width-max;

  padding-inline-start: 3rem;  
}

.about {
  height: calc(100vh - $header-height);
  max-height: 900px;
  display: flex;
  justify-content: space-between;

  // content section
  &__content {
    min-width: 320px;
    width: 100%;
    padding-inline-end: 1.2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    & p {
      margin-block-start: $lg;
      color: $color-dark-gray;
      font-size: $lg;
    }
  }
  &__name {
    @include content-text-format();
  }
  &__handle {
    @include content-text-format($color-link);
    text-decoration: none;
    margin-top: -1rem;
  }

  // content image
  &__image-container {
    width: 100%;
    height: 100%;
    
    clip-path: polygon(15% 0%, 100% 0, 100% 100%, 0% 100%);
    background-image: url("https://i.picsum.photos/id/1018/3914/2935.jpg?hmac=3N43cQcvTE8NItexePvXvYBrAoGbRssNMpuvuWlwMKg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.videos { 

  &__title {
    padding: 2rem;
    font-size: $xl;
    font-weight: 900;    
  }
  
  &__grid{
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
    justify-content: center;
    gap: 2rem;

    padding-bottom: 2rem;
  }
}

.video {
  height: 350px;
  display: flex;
  flex-direction: column;

  
  overflow: hidden;
  
  border-radius: 2rem;
  

  &__thumbnail {    
    & img{
      width: 100%;

      overflow: hidden;
      border-bottom-left-radius: 2rem;
    }
  }

  &__description {
    padding-inline: 1.6rem;
    color: $color-dark;
    font-size: $sm;    
    color: $color-dark-gray;
  }

  &:hover {
    outline: 1px solid $color-link;
    cursor: pointer;
  }
}


