section.footer__container
  footer.footer
    section.footer__contact 
      p Contact
      p keep in touch.
    
    section.socials
      ul.socials__icons
        li: a(href="#").socials__icon.icon-facebook
        li: a(href="#").socials__icon.icon-twitter