header.header__container
  //- Logo
  a.header__logo(href="#")
    include icon.pug

  section.header__menu
    ul.header__links 
      li: a(href="#").header__link.header__link--active About
      li: a(href="#").header__link Projects
      li: a(href="#").header__link Contact