header.header-container
  //- Logo
  a.header__logo(href="#")
    img(src=" IMG ", alt="Logo y boton de home")

  menu.header__menu
    ul.header__links 
      li: a(href="#").header__link.header__link--active About
      li: a(href="#").header__link Projects
      li: a(href="#").header__link Contact